.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading svg, .loading p {
  position: absolute;
  color: #395B64;
}

.loading svg {
  font-size: 170px;
}

.loading p {
  font-weight: bold;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a, .title span {
  color: #2C3333;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  width: 100%;
  padding: 0 1rem;
}

.title button {
  margin: 13.295px 0;
}

.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
  color: #395B64;
}

.card:hover,
.card:focus,
.card:active {
  color: #1e3136;
  border-color: #1e3136;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.5;
}

.card p svg {
  margin-right: 3px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.greenText {
  color: mediumseagreen;
}

.yellowText {
  color: #FAB005;
}

.addButton {
  background-color: #3cb371;
  border-radius: 100%;
  outline: none;
  font-size: 23px;
  margin-left: 10px;
  font-weight: 600;
  border: none;
  color: white;
  cursor: pointer;
  padding: 13.5px 14.9375px;
  line-height: 1;
}